body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --header-bg:  #b2caff;
  --primary-color: #4061ab;
}

.JourneyBotIo,
.GameBoard,
.ControlBoard {
  border: 4px solid var(--primary-color);
  margin: 1em;
}

.content {
  padding: 0.8em;
}

h1,h2,h3,h4,h5 {
  background-color: var(--header-bg);
  margin: 0 0 1em 0;;
  padding: 0.5em;
}
